.nav-bar {
}

.body-section {
  margin-top: 2.5rem;
  max-width: 100%;
  width: 100%;
}

.top-cont {
  padding: 0.5rem;
  width: 100%;
}

.feat-text {
  margin-top: 0rem;
}

.asset-card-div1 {
  margin-top: 5.125rem;
}
.asset-card-div {
  margin-top: 3rem;
}

.top-creator-div {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.our-mission-div {
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.why-art-div {
  margin-top: 7rem;
  margin-bottom: 0rem;
}

.buy-curate-div {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.news-div {
  margin-top: 10rem;
}

@media screen and (max-width: 850px) {
  .body-section {
    margin-top: 6rem;
    padding: 0 1rem;
  }

  .feat-text {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .body-section {
    margin-top: 7rem;
    padding: 0 0rem;
  }

  .feat-text {
    display: block;
    margin-top: 2rem;
    margin-left: 24px;
  }
}
