.waitlistSidebarContainer{
    width: 50%;
    .sidebar-card{
        padding:10px;
    }
}


@media screen and (max-width: 850px) {
    
    .waitlistSidebarContainer{
        width: 100%;
    }
  }
  
  @media screen and (max-width: 450px) {
    
    
  }
  
  @media screen and (max-width: 380px) {
    
    
  }
  
  @media screen and (max-width: 330px) {
    
    
  }
  