// fonts

$kern: "Kern";
$helvetica-font: "Helvetica ,sans-serif";
$haffer-xh-trial: "Haffer";

// color

$dark: #000000;
$dark-10: #1e1e1e;
$dark-20: #6f6f6f;
$dark-30: #535151;
$dark-40: #3e3e3e;
$dark-50: rgba(0, 0, 0, 0.3);
$dark-60: #616161;
$dark-70: #949494;
$dark-80: #d8d8d8;
$dark-90: rgba(196, 196, 196, 0.1);
$dark-100: rgba(196, 196, 196, 0.5);

$White: #ffffff;
$Neutral-10: #fafafa;
$Neutral-20: #f5f5f5;
$Neutral-30: #e9f4f8;
$Neutral-40: #f8e8ba;
$Neutral-50: #e4f2c5;
$Neutral-60: #e7e7ea;

$Primary-10: #2b6dab;
$Primary-20: #2f8be6;

$Success-10: #bddfeb;
$Success-20: #bae5f8;
$Success-30: #baf8cf;
$Success-40: #baf8d2;

$Error-10: #eb4b87;
$Error-20: #f8baba;
$Error-30: #e3d4ea;
$Error-40: #ba7e86;

//breakpoint
$md:"992px";
$sm:"767px";
$xs:"480px";
