.headersCommomLandingPage {
  padding-bottom: 1.6rem;
  font-family: KernBold;
  font-style: normal;
  font-size: 38px;
  line-height: 46px;
  /* identical to box height */
  color: #000000;
}

.headersCommomLandingPageTitle {
  padding-top: 20px;
  padding-bottom: 40px;
  /* padding-bottom: 0px; */
  font-family: KernRegular;
  font-size: 28px;
  line-height: 40px;
  /* identical to box height, or 129% */

  color: #000000;
}

.divwhyArtcryption {
  display: flex;
  font-family: Kern;
  font-size: 28px;
  border-radius: 16px;
  padding: 25px;
  column-gap: 1rem;
  /* margin: 10px; */
}

.imgContainerWhy {
  display: flex;
  align-items: baseline;
  height: 5rem;
}

.container {
  margin-top: 3.375rem;
  margin-bottom: 9.375rem;
}

.typography {
  width: max-content;
}

.annnouceStyle {
  width: 68vw;
  display: flex;
  padding-bottom: 4rem;
}

.whyBotton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.featuredContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.featurehead {
  fontsize: 2.2rem;
  color: black;
  opacity: 1;
}
